# This is a basic workflow to help you get started with Actions
# Ref: https://stackoverflow.com/a/69465861/3016570

name: Archive Webpage

# Controls when the workflow will run
on:
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Run specific commands # Another step name
        run: |
          chomd +x monolith && ./monolith -aevf https://isha.sadhguru.org/in/en/wisdom -o html/wisdom.html
          echo "Monolith ran"
      
      - name: Push Changes Back To Repo
        uses: GuillaumeFalourd/git-commit-push@v1.3
